@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Blog:</strong> <a href="https://hutchcodes.net">HutchCodes.net</a><br />
    <strong>Email:</strong> <a href="mailto:jrhutch@hotmail.com">jrhutch@live.com</a><br />
    <strong>Twitter:</strong> <a href="https://hutchcodes.net">@@HutchCodes</a>
</address>
