@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a asp-area="" asp-controller="Primes" asp-action="">Basic Page</a></li>
            <li><a asp-area="" asp-controller="Primes" asp-action="Slow">Occasionaly Slow Page</a></li>
            <li><a asp-area="" asp-controller="Primes" asp-action="Error">Error Prone Page</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Events">Custom Events Page</a></li>
        </ul>
    </div>
</div>
